.contact{
    width: 100%;
    height: 100vh;
    display: flex;
}
.contact .side_naviguation{
    width: 35%;
    height: 100%;
}
.contact__wrapper{
    width: 60%;
    height: 100%;
}
.side_naviguation{
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 50px 0px 50px 100px;
}
.side_naviguation .logo{
    width: 300px;
}
.side_naviguation .logo img{
    object-fit: contain;
}
.nav__links{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
}
.nav__links .nav__link{
    font-size: 16px;
}
.contact__wrapper{
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}
.contact__wrapper .section__title{
    text-align: left;
}
@media (max-width: 648px){
    .contact .side_naviguation {
        padding: 40px 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 80px;
        display: flex;
        gap: 30px;
        position: fixed;
        right: 20px;
        transition : width .5s ease-in-out;
    }
    .contact .side_naviguation.active {
        padding: 40px;
        width: 100%;
        display: flex;
        align-items: flex-start;
        transition : width .5s ease-in-out;
    }
    .side__nav__item{
        display: none;
    }
    .side__nav__item.logo{
        width: 150px;
    }
    .side__nav__item.active{
        display: flex;
    }
    .contact__wrapper{
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        /* border: 1px solid black; */
        width: 100%;
        margin-left: 70px;
    }
    .form__input {
        height: 40px;
        padding: 10px;
    }
}