.section__0{
    width: 100%;
    height: 50px;
}
.section__0__wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}
.phone__call__infos{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
.cover__1{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cover__1__image{
    margin-top: 30px;
    width: 800px;
}
.cover__2__image{
    margin-top: 30px;
    width: 500px;
}
.main__section__wrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.main__section__tittle{
    font-size: 25px;
}
.vector__1 , .vector__2 , .vector__3 , .vector__4{
    position: absolute;
}
.vector__1{
    left: 0;
    bottom: 100px;
    width: 80px;
}
.vector__2{
    top: 0;
    right: 350px;
    width: 100px;
}
.vector__3{
    right: 0;
    top: 40px;
    width: 160px;
}
.vector__4{
    right: 0;
    bottom: 50px;
    width: 80px;
}
.faqs__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.faqs_title{
    font-size: 30px;
    text-align: center;
}
.faqs__wrapper .form_container{
    width: 500px;
}
.questions_blocs{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.questions__box__column{
    display: flex;
    flex-direction: column;
    width: calc(50% - 15px);
    gap: 30px;
}
.question__box{
    border-radius: 10px;
    padding: 30px 40px;
    display: flex;
    width: 100%;
    height: min-content;
    gap: 20px;
}
.question__box__content{
    flex: 1;
}
.unfold__icon{
    /* border: 1px solid black; */
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.unfold__icon .icon{
    width: 20px;
    height: 20px;
}
.answer{
    margin-top: 30px;
    height: 0px;
    overflow: hidden;
}
.question__box.active .question__box__content .answer{
    margin-top: 30px;
    height: max-content;
    overflow: hidden;
    animation: question__box__animation .5s ease-in;
}
@keyframes question__box__animation {
    from {
        height: 0px;
    }
    to {
        height: max-content;
    }
}
@media (max-width: 1024px){

}
@media (max-width: 640px){
    .question__box {
        padding: 20px 30px;
    }
    .cover__1__image {
        width: 400px;
    }
    .vector__1 {
        width: 40px;
    }
    .vector__3 {
        width: 80px;
    }
    .vector__4 {
        width: 40px;
    }
    .vector__2 {
        right: 150px;
        width: 70px;
    }
    .cover__2__image {
        width: 300px;
    }
    .faqs_title {
        font-size: 25px;
    }
    .faqs__wrapper .form_container {
        width: 100%;
    }
    .questions_blocs {
        flex-direction: column;
        gap: 20px;
    }
    .questions__box__column {
        width: 100%;
        gap: 20px;
    }
    .faqs__wrapper {
        gap: 30px;
    }
}
