@font-face{
    font-family: "Poppins-Black";
    src: url("../assets/fonts/Poppins-Black.ttf") format("opentype");
}
@font-face{
    font-family: "Poppins-BlackItalic";
    src: url("../assets/fonts/Poppins-BlackItalic.ttf") format("opentype");
}
@font-face{
    font-family: "Poppins-Bold";
    src: url("../assets/fonts/Poppins-Bold.ttf") format("opentype");
}
@font-face{
    font-family: "Poppins-ExtraBold";
    src: url("../assets/fonts/Poppins-ExtraBold.ttf") format("opentype");
}
@font-face{
    font-family: "Poppins-Light";
    src: url("../assets/fonts/Poppins-Light.ttf") format("opentype");
}
@font-face{
    font-family: "Poppins-Medium";
    src: url("../assets/fonts/Poppins-Medium.ttf") format("opentype");
}
@font-face{
    font-family: "Poppins-Regular";
    src: url("../assets/fonts/Poppins-Regular.ttf") format("opentype");
}
@font-face{
    font-family: "Poppins-SemiBold";
    src: url("../assets/fonts/Poppins-SemiBold.ttf") format("opentype");
}
*, *:before, *:after {
    padding: 0; 
    margin: 0; 
    outline: 0; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.primary__background{
    background-color: #FD5612;
    color: #ffff;
}
.primary__color{
    color: #FD5612;
}
.secondary__background{
    background-color: #77b280;
    color: #ffff;
}
.secondary__color{
    color: #77b280;
}
.secondary__01__background{
    background-color: #1A7C13;
    color: #ffff;
}
.secondary__02__background{
    background-color: #D0FBCD;
}
.secondary__03__background{
    background-color: #D2F5D0;
    color: #0000;
}
.secondary__01__color{
    color: #1A7C13;
}
.dark__background{
    background-color: #1d1d1d;
    color: #ffff;
}
.dark__color{
    color: #1d1d1d;
}
.light__background{
    background-color: #ffff;
    color: #1d1d1d;
}
.light__color{
    color: #ffff;
}
.muted__background{
    background-color: #EAEAEA;
}
.muted__color{
    color: #EAEAEA;
}
.btn__lg{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    text-transform: capitalize;
    font-size: 18px;
    font-family: "Poppins-Medium";
}
.box__0{
    max-width: 1600px;
    width: 80%;
    margin: 0 auto;
}
.section__title{
    font-size: 50px;
    text-align: center;
    font-family: "Poppins-Bold";
    text-transform: capitalize;
}
.section__container{
    padding: 100px 0;
}
.icon{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: cover;
}
.icon__light_sm{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
}
.icon__sm{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: cover;
}
.icon__extra__sm{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-size: cover;
}
.scroll_arrow_left{
    background-image: url("../assets/icons/scroll_arrow_left.png");
}
.scroll_arrow_right{
    background-image: url("../assets/icons/scroll_arrow_right.png");
}
.social_media_facebook{
    background-image: url("../assets/icons/social_media_facebook.png");
}
.social_media_instagram{
    background-image: url("../assets/icons/social_media_instagram.png");
}
.social_media_linkedin{
    background-image: url("../assets/icons/social_media_linkedin.png");
}
.social_media_twitter{
    background-image: url("../assets/icons/social_media_twitter.png");
}
.phone_call{
    background-image: url("../assets/icons/phone_call.png");
}
.less{
    background-image: url("../assets/icons/less.png");
}
.email{
    background-image: url("../assets/icons/email.png");
}
.more{
    background-image: url("../assets/icons/more.png");
    cursor: pointer;
}
.close{
    background-image: url("../assets/icons/close.png");
    cursor: pointer;
}
.completed{
    background-image: url("../assets/icons/completed.png");
    cursor: pointer;
}
.checked{
    background-image: url("../assets/icons/checked.png");
    cursor: pointer;
}
.menu__close{
    background-image: url("../assets/icons/menu__close.png");
    cursor: pointer;
}
.credit_card{
    background-image: url("../assets/icons/credit_card.png");
    cursor: pointer;
}
.cancel{
    background-image: url("../assets/icons/cancel.png");
    cursor: pointer;
}
.menu__open{
    background-image: url("../assets/icons/menu__open.png");
    cursor: pointer;
}
.send{
    background-image: url("../assets/icons/send.png");
    cursor: pointer;
}
.regular__text{
    font-size: 16px;
    font-family: "Poppins-Regular";
}
.medium__text{
    font-size: 18px;
    font-family: "Poppins-Medium";
}
.menu{
    position: relative;
    width: 100%;
    height: 40px;
    display: none;
}
#menu{
    position: absolute;
    top: 0;
    right: 20px;
}
.header__1{
    padding-top: 25px;
    padding-bottom: 25px;
}
.header__1__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__1 .logo{
    width: 200px;
}
.header__1 .logo__mobile{
    width: 100px;
    display: none;
}
.cover{
    position: relative;
    width: 100%;
}
.cover__wrapper__1 , .cover__wrapper__3{
    width: 100%;
}
.cover__wrapper__1{
    height: 600px;
}
.cover__wrapper__3{
    height: 500px;
}
.cover__wrapper__1{
    padding-top: 50px;
    background-image: url("../assets/images/background__image__1.png");
    background-repeat: repeat-x;
}
.cover__wrapper h2{
    font-size: 45px;
    text-align: center;
    font-family: "Poppins-SemiBold";
}
.cover__wrapper__2{
    position: absolute;
    top: 50%; 
    right: 50%;
    transform: translate(50%,-50%);
    height: 600px;
    width: 60%;
    position: absolute;
    border-radius: 10px;
}
.cover__wrapper__2 img{
    border-radius: 10px;
}
.cover__wrapper__2 .circle{
    position: absolute;
    top: 10%; 
    left: 5%;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.circlr_wrapper{
    width: 120px;
}
.bottom__logo{
    position: absolute;
    bottom: 0; 
    right: 50%;
    transform: translate(50%,-20%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom__logo_wrapper{
    width: 300px;
    margin-right: 60px;
}
.middle__icon{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 50%; 
    right: 50%;
    transform: translate(50%,-50%);
}
.sheet{
    opacity: 0.1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 10px;
}
.cover__wrapper__3{
    display: flex;
    align-items: end;
}
.cover__wrapper__3 .cover__wrapper{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.cover__wrapper__3 .cover__wrapper .logo{
    width: 300px;
}
.cover__wrapper__3 .cover__wrapper .logo img{
    object-fit: none;
}
.objective{
    position: relative;
    display: flex;
    align-items: center;
    height: 700px;
}
.background{
    /* border: 1px solid black; */
    width: 50%;
    height: 100%;
    background-image: url("../assets/images/background__image__2.png");
    background-repeat: repeat;
}
.objective__wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.objective__content{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.objective__image{
    width: 45%;
    height: 100%;
    border-radius: 10px;
}
.objective__image img{
    border-radius: 10px;
}
.objetcive__text{
    width: 45%;
}
.objetcive__text .objetcive__content{
    font-size: 35px;
    text-align: center;
    font-family: "Poppins-SemiBold";
}
.features_wrapper_container{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
}
.card{
    width: 33.333%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
}
.card__title{
    font-family: "Poppins-Medium";
    font-size: 30px;
    margin-top: 30px;
    padding: 0 30px;
}
.card__content{
    font-family: "Poppins-Regular";
    font-size: 18px;
    margin: 30px 0px;
    flex: 1;
    padding: 0 30px;
}
.card__image{
    border-radius: 10px;
}
.card__image img{
    border-radius: 10px;
}
.statistics{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 866px;
}
.statistics .background{
    background-position-x: right;
}
.statistics__wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}
.statistics__content{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.statistics__block__1{
    /* border: 1px solid black; */
    width: 35%;
}
.statistics__block__2{
    width: 45%;
    border-radius: 10px;
    /* border: 1px solid black; */
}
.statistics__block__2 img{
    border-radius: 10px;
}
.statistics__block__container{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}
.statistics__block__item{
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: calc(50% - 15px);
    aspect-ratio: 1 / 1;
}
.statistic_icon{
    width: 40%;
    aspect-ratio: 1 / 1;
}
.statistic__block__content:nth-child(2){
    font-size: 30px;
    font-family: "Poppins-Bold";
}
.statistic__block__content:nth-child(3){
    font-size: 20px;
    font-family: "Poppins-Medium";
    /* border: 1px solid black; */
    text-align: center;
}
.statistics_footer{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.statistics_footer .logo{
    width: calc(50% - 15px);
    height: 80px;
    display: flex;
    align-items: center;
}
.statistics_footer .logo img{
    object-fit: contain;
}
.partners__title{
    margin-bottom: 50px;
}
.partners__wrapper{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.scroll__arrow{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.partners__logos__container{
    width: 100%;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
}
.partners__logos{
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
.partners__logos__container::-webkit-scrollbar {
    display: none;
}
.partners__logos__container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.partner__logo{
    width: 250px;
    height: 250px;
}
.partner__logo img{
    object-fit: cover;
}
.support__project{
    background-image: url("../assets/images/background__image__3.png");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-position: center;
}
.support__project__content{
    font-size: 65px;
    font-family: "Poppins-Bold";
    /* border: 1px solid black; */
    text-align: center;
}
.make__donation{
    width: 500px;
    height: 100px;
    font-size: 40px;
    font-family: "Poppins-SemiBold";
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    position: relative;
    width: 100%;
    height: 100vh;
}
.footer__part__1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
}
.footer__part__2{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
.footer__part__1__title{
    font-size: 30px;
    font-family: "Poppins-SemiBold";
}
.footer__part__1__wrapper{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    align-items: center;
}
.footer__part__1__logo{
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-between;
    gap: 40px;
}
.footer__part__1__logo .logo{
    width: 250px;
    height: 80px;
}
.footer__part__1__logo .logo img{
    object-fit: contain;
}
.footer__part__2__logo{
    width: 400px;
    height: 100px;
}
.footer__part__2__logo img{
  object-fit: contain;
}
.naviguation{
    /* border: 1px solid black; */
    display: flex;
    gap: 100px;
}
.nav__link{
    font-size: 20px;
    font-family: "Poppins-Regular";
    text-decoration: none;
    cursor: pointer;
}
.socials_media{
    display: flex;
    gap: 30px;
}
.anime__0{
    opacity: 0;
}
.anime__1{
    opacity: 0;
    transform: translateX(-100%);
}
.anime__2{
    opacity: 0;
    transform: translateX(-100%);
}
.anime__3{
    opacity: 0;
    transform: translateY(-100%);
}
.anime__4{
    opacity: 0;
    transform: translateY(-100%);
}
.animation__class__0{
    animation: animation__keyframes__0 1s linear;
    opacity: 100%;
}
.animation__class__1{
    animation: animation__keyframes__1 1s linear;
    opacity: 100%;
    transform: translateX(0%);
}
.animation__class__2{
    animation: animation__keyframes__2 1s linear;
    opacity: 100%;
    transform: translateX(0%);
}
.animation__class__3{
    animation: animation__keyframes__3 1s linear;
    opacity: 100%;
    transform: translateY(0%);
}
.animation__class__4{
    animation: animation__keyframes__4 1s linear;
    opacity: 100%;
    transform: translateY(0%);
}
@keyframes animation__keyframes__0 {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 25%;
    }
    50%{
        opacity: 50%;
    }
    75%{
        opacity: 75%;
    }
    100%{
        opacity: 100%;
    }
}
@keyframes animation__keyframes__1 {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    25%{
        opacity: 25%;
        transform: translateX(-75%);
    }
    50%{
        opacity: 50%;
        transform: translateX(-50%);
    }
    75%{
        opacity: 75%;
        transform: translateX(-25%);
    }
    100%{
        opacity: 100%;
        transform: translateX(0%);
    }
}
@keyframes animation__keyframes__2 {
    0%{
        opacity: 0;
        transform: translateX(100%);
    }
    25%{
        opacity: 25%;
        transform: translateX(75%);
    }
    50%{
        opacity: 50%;
        transform: translateX(50%);
    }
    75%{
        opacity: 75%;
        transform: translateX(25%);
    }
    100%{
        opacity: 100%;
        transform: translateX(0%);
    }
}
@keyframes animation__keyframes__3 {
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    25%{
        opacity: 25%;
        transform: translateY(-75%);
    }
    50%{
        opacity: 50%;
        transform: translateY(-50%);
    }
    75%{
        opacity: 75%;
        transform: translateY(-25%);
    }
    100%{
        opacity: 100%;
        transform: translateY(0%);
    }
}
@keyframes animation__keyframes__4 {
    0%{
        opacity: 0;
        transform: translateY(100%);
    }
    25%{
        opacity: 25%;
        transform: translateY(75%);
    }
    50%{
        opacity: 50%;
        transform: translateY(50%);
    }
    75%{
        opacity: 75%;
        transform: translateY(25%);
    }
    100%{
        opacity: 100%;
        transform: translateY(0%);
    }
}
@media (max-width: 1024px){
    .background{
        display: none;
    }
    .cover__wrapper__2 {
        height: 500px;
        width: 90%;
    }
    .cover__wrapper h2 {
        font-size: 35px;
    }
    .cover__wrapper__1 {
        height: 550px;
    }
    .cover__wrapper__3 {
        height: 400px;
    }
    .objective {
        position: static;
        height: fit-content;
    }
    .objective__wrapper {
        position: static;
    }
    .objective__content{
        flex-direction: column;
        gap: 50px;
    }
    .objetcive__text {
        width: 100%;
    }
    .objective__image {
        width: 100%;
        height: 500px;
    }
    .features_wrapper_container {
        flex-direction: column;
    }
    .card {
        width: 100%;
        flex-direction: row-reverse;
    }
    .card__wrapper{
        display: flex;
        flex-direction: column;
        width: calc(100% - 300px);
    }
    .card__image{
        width: max-content;
    }
    .statistics__block__1 {
        /* border: 1px solid black; */
        width: 60%;
    }
    .statistics__block__2 {
        display: none;
    }
    .statistics {
        background-image: none;
        width: 100%;
        position: static;
        height: fit-content;
    }
    .statistics__wrapper {
        position: static;
        justify-content: center;
    }
    .statistics__content{
        justify-content: center;
    }
    .partners__logos {
        margin-top: 30px;
    }
    .partner__logo {
        width: 200px;
        height: 200px;
    }
    .support__project__content {
        font-size: 55px;
    }
    .footer__part__1__wrapper {
        flex-direction: column;
    }
    .footer__part__1__logo {
        margin-top: 40px;
    }
    .naviguation {
        gap: 50px;
    }
}
@media (max-width: 640px){
    .cover__wrapper__1 {
        padding-top: 0px;
    }
    .card {
        flex-direction: column !important;
        height: max-content;
    }
    .card__wrapper{
        flex-direction: column;
        width: 100%;
    }
    .card__image{
        width: 100%;
    }
    .menu{
        display: flex;
    }
    .header__1 .logo{
        display: none;
    }
    .header__1 .logo__mobile{
        display: block;
    }
    .section__container {
        padding: 50px 0;
    }
    .btn__lg {
        width: 150px;
        height: 40px;
        font-size: 16px;
    }
    .statistics__block__1 {
        width: 100%;
    }
    .statistics__block__container {
        flex-direction: column;
    }
    .statistics_footer {
        flex-direction: column;
        align-items: center;
    }
    .footer__part__1 {
        flex-direction: column;
    }
    .footer__part__1__logo {
        flex-direction: column;
        margin-top: 30px;
    }
    .objetcive__text .objetcive__content {
        font-size: 20px;
    }
    .section__title {
        font-size: 25px;
    }
    .cover__wrapper h2 {
        font-size: 25px;
    }
    .cover__wrapper__2 {
        height: 400px;
        width: 100%;
        top: 50%;
        transform: translate(50%,-50%);
    }
    .cover__wrapper__3 .cover__wrapper {
        margin-bottom: 30px;
    }
    .cover__wrapper__1 {
        height: 500px;
    }
    .cover__wrapper__3 {
        height: 400px;
    }
    .cover__wrapper__3 .cover__wrapper {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .cover__wrapper__3 .cover__wrapper .logo {
        width: 200px;
    }
    .cover__wrapper__3 .cover__wrapper .logo img {
        object-fit: contain;
    }
    .objective__image {
        height: 400px;
    }
    .card__title {
        font-size: 25px;
    }
    .card__content {
        font-size: 16px;
    }
    .support__project__content {
        font-size: 30px;
    }
    .make__donation {
        width: 200px;
        height: 50px;
        font-size: 20px;
    }
    .support__project {
        height: 80vh;
    }
    .footer__part__1__title {
        font-size: 20px;
        text-align: center;
    }
    .footer__part__1__logo .logo {
        width: 150px;
        height: 40px;
    }
    .naviguation {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .footer__part__2__logo {
        width: 200px;
        /* height: 50px; */
    }
    .nav__link {
        font-size: 18px;
    }
    .icon__sm {
        width: 20px;
        height: 20px;
    }
    .statistics__wrapper{
        display: block;
    }
    .statistics__block__container {
        width: 100%;
    }
    .statistics__block__item {
        width: 100%;
        height: 250px;
    }
    .statistics_footer .logo {
        width: 200px;
        /* height: 50px; */
    }
    .statistics {
        background-image: none;
    }
    .partners__logos__container {
        margin-top: 40px;
    }
    .partner__logo {
        width: 100px;
        height: 100px;
        /* border: 1px solid black; */
    }
    .icon {
        width: 40px;
        height: 40px;
    }
    .scroll__arrow{
        display: none;
    }
    .partners__logos {
        gap: 30px;
        border: 1px solid white;
    }
    .footer__part__2{
        gap: 40px;
    }
    .regular__text {
        font-size: 14px;
    }
    .medium__text {
        font-size: 16px;
    }
}
input[type="checkbox"] {
   display: none;
}
input[type="radio"] {
   display: none;
}
.checkbox__wrapper{
    display: flex;
    gap: 10px;
    align-items: center;
}
.check , .radio{
    width: 25px;
    height: 25px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.check:hover{
    background-color: #EAEAEA;
    border: none;
}
input[type="checkbox"]:checked + label .checked , input[type="radio"]:checked + label.radio span {
    display: block;
    /* border: 1px solid black; */
}
input[type="checkbox"]:checked + label{
    background-color: #77b280;
    border: none;
}
input[type="checkbox"] + label .checked , input[type="radio"] + label.radio span{
    display: none;
}
.radio{
    border-radius: 50%;
    border: 2px solid black;
}
.radio__iteme{
    display: flex;
    gap: 10px;
}
.radio span{
    display: block;
    width: 15px;
    height: 15px;
    background-color: #77b280;
    border-radius: 50%;
}